#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(77deg, #4c90d4, #ffffff, #7d7bcc);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid black;
}

main#app {
  width: 100%;
  padding-top:  70px;
}
/*Home*/
#home-content{
    text-align: center;
}
/*NavBar*/
section {
  padding-top: 70px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.nav-item {
  color: white;
}

/* Each article card*/
.card-container{
    display: flex;
    flex-direction: column;
    padding:10px;
  }
  .card-body{
      background-color: aliceblue;
  }

/* Loading + Spinner*/
.loading-container,
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-container p {
  font-size: 15px;
  font-weight: bold;
}

.spinner-container .spinner-border {
  width: 6rem; 
  height: 6rem; 
  
}