#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(77deg, #4c90d4, #ffffff, #7d7bcc);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid black;
}

/*Home*/
#home-content {
  text-align: center;
}
/*NavBar*/
body {
  padding-top: 65px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 5px;
}

.nav-item {
  color: white;
}

/* Each article card*/
.card-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card-body {
  background-color: aliceblue;
}

.custom-article-card:hover {
  color: #dd2a2a;
  border: 3px solid #333333;
  transform: scale(1.05);
  border-color: #dd2a2a;
  transition: transform 0.3s ease-in-out;
}
/* Loading + Spinner*/
.loading-container,
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-container p {
  font-size: 15px;
  font-weight: bold;
}

.spinner-container .spinner-border {
  width: 6rem;
  height: 6rem;
}

/*Error*/


/* netflix like cards*/
/* Custom Styles for Netflix-like Appearance */
.netflix-card:hover {
  background-color: #1c1c1c;
  color: #dd2a2a;
  border: 3px solid #333333;
  transform: scale(1.05);
  border-color: #dd2a2a;
  transition: transform 0.3s ease-in-out;
}

.netflix-card-image {
  height: 200px;
  object-fit: cover;
}

.netflix-card-title {
  font-size: 1.5rem;
  text-decoration:none !important;
}


/* 
.like-active { 
  background-color: #FF0063;
}

.dislike-active { 
  background-color: #394350;
} */